__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
*.code-workspace

venv/
env/
.venv/

*.csv
*.tsv
*.xlsx
*.h5
*.nii
*.nii.gz

*.log
*.tmp
*.bak

.DS_Store
Thumbs.db

pyrightconfig.json

build/
dist/
*.egg-info/

output/
# checkpoints/
results/
